h1 {
	text-align: left;
	font-size: 25px;
	color: black;
	margin-top: -5px;
}

h2 {
	font-size: 22px;
	opacity: 1;
	color: black;
	margin-top: 0px;
}

h3 {
	font-size: 18px;
	color: black;
}

#info > h3 {
	font-size: 15px;
	margin-top: -10px;
	margin-bottom: 0px;
}

ul li {
	color: #117757;
}

.picbg {
	background: url(http://zt-one.zoodemo.com/templates/zo2_one/assets/zo2/images/background-patterns/congruent_pentagon.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: -1000px -800px;
    opacity: .8;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -20px;
    padding: 10px 20px 10px 20px;
    position: relative;
}

body {
	text-align: justify;	
	font-family: 'Georgia', 'Times New Roman', 'serif';
	float: left;
	z-index: 40;
}

.bodytext > p {
	line-height: 1.2em;
	font-size: 16px;
	opacity: 1;
	padding: 1px 10px 5px 10px;
	color: black;
}

#info {
	background-color: #BEF8CF;
	padding: 5px 5px 5px 5px;
	opacity: 1;
}

p:hover {
	opacity: .9;
}

a {
	color: #117757;
	text-decoration: none;
	-webkit-transition: -webkit-transform 1s;
}

a:visited {
	color: #117757;
}

a:hover {
	color: #07563D;
	font-weight: bold;
}

