html {
   background: red; 
} 
    
.spin1 {
   position:absolute; 
    margin-left: 10px; 
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 30pt;
    
    height: 100vh;
    width: 95vw;
    border-radius: 100%;
    background-color: transparent;
    box-sizing: border-box;
    color: white;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}

.spin1:hover { 
  -webkit-animation-play-state: paused;
    
} 


@-webkit-keyframes roll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateY(50vh)rotate(5turn);
    }
    

.spin1:hover {
     -webkit-animation-play-state: paused;
    background-color: yellow;
    opacity: 0.6;
    z-index: 100;
    
}

     

body {
        font-family: 'Nunito', sans-serif;

}

#text1 {
        font-family: 'Nunito', sans-serif;

}

#text2 {
        font-family: 'Nunito', sans-serif;

}

#spin2 {
      font-family: 'Nunito', sans-serif;
  
}







a {
    color: white; 
    
}
    
    a:hover {
    color: white; 
    }

a {
    color:white; 
}
