

#canvas {
   

    
}

body {
 
    
}

#textfall {
    margin-left: 10vw;
    position: absolute; 
    background: none; 
    color:aliceblue; 
    width: 500px; 
    font-size: 55pt; 
        font-family: 'Nunito', sans-serif;

}

a {
    color: aliceblue; 
}
