html {} 

.accordion {
   margin: 50px;   
   dt, dd {
      padding: 10px;
      border: none;
      
      &:last-of-type {
        border-bottom: none; 
      }
      a {
     
        display: block;
        color: black;
        font-weight: bold;
      }
   }
  dd {
     border-top: 0; 
     font-size: 10pt;
     &:last-of-type {
       border-top: 1px solid white;
       position: relative;
       top: -1px;
     }
  }
}
a {
    color:aqua;
  text-decoration: none;
    font-size: 200pt; 
}
a:hover {
    color:red;
}


.link {
    color: red; 
    font-size: 12pt; 
}
