#sophie_profile {
	width: 350px;
	display: inline-block;
	margin-top: 200px;
	margin-left: 400px;
}

#biography{
	display: inline-block;
	float: left;
	position: absolute;
	width: 450px;
	margin-top: 200px;
	margin-left: 80px;
	font-family: Helvetica;
	font-size: 15px;
	line-height: 20px;
}

#photographs {
	font-style: normal;
	color: red;
}