html {
	zoom:0.8;
	margin-left:100px;
}

body {
	/*background-color:rgb(210, 218, 226);*/
	background-image:url(../img/background_02.jpg);
}

p {
	color: red;
}

#main_block{
	background-color:rgb(245,230,245);
	height: 10000px;
	width: 1390px;
	margin-top:180px;
	margin-left:220px;
	border-radius:5px;
	opacity:1;
}

#main_block_2{
	background-color:rgb(245,230,245);
	height: 6800px;
	width: 1390px;
	margin-top:-5350px;
	margin-left:220px;
	border-radius:5px;
	opacity:1;
}

#a {
	background-color:rgb(194, 15, 15);
	height: 780px;
	width: 780px;
	margin-left: 240px;
	margin-top: 130px;
}

#redd {
	margin-top:-80px;
	margin-left:-110px;
	position:absolute;
	opacity:0.2;
}

#b {
	background-color: white;
	height: 780px;
	width: 560px;
	margin-top: -780px;
	margin-left: 1050px;
	border-radius:5px;
	opacity:0;

}

#c {
	width: 1370px;
	height: 140px;
	margin-left: 240px;
	margin-top: -20px;
	border-radius:5px;
	opacity:1;
	background-color:transparent;
}

.shitty_adjustment {
	margin-top:60px;
	margin-left:100px;
}

hgroup3 div {
	border-radius:4px;
}

img {
	margin-top: -700px;
	margin-left: 350px;
	position: absolute;
}

div {
	background-color:rgb(139,119,119);
}

#interview {
	color:rgb(139, 119, 119);
	padding: 10px 0px;
	text-align: center;
	font-size: 90px;
	font-family: Calibri, Cursive;
}


#left_up {
	height:120px;
	width:120px;
	position:absolute;
	left:1080px;
	top:304px;
}

#right_up {
	height:120px;
	width:120px;
	position:absolute;
	left:1320px;
	top:422px;
}

#left_middle {
	height:120px;
	width:120px;
	position:absolute;
	left:1200px;
	top:542px;
}

#left_bottom {
	height:120px;
	width:120px;
	position:absolute;
	left:1320px;
	top:662px;
}

#middle_bottom {
	height:120px;
	width:120px;
	position:absolute;
	left:1080px;
	top:782px;
}

#right_bottom {
	height:120px;
	width:120px;
	position:absolute;
	left:1440px;
	top:782px;
}

#decoration_line {
	background-color:rgb(139,119,119);
	width: 1360px;
	height: 9px;
	border-radius: 3px;
	margin-top: 30px;
	margin-left: 235px;
}



hgroup2 div {
	height: 60px;
	width: 60px;
	background-color:rgb(139,119,119);
	position:absolute;
	border-radius: 4px;
}

#one {
	margin-top: -790px;
	margin-left: 1492px;
}

#two {
	margin-top:-790px;
	margin-left:1372px;
}

#three {
	margin-top:-730px;
	margin-left:1432px;
}

#four {
	margin-top:-670px;
	margin-left:1492px;
}

#five {
	margin-top:-670px;
	margin-left:1192px;
}

#six {
	margin-top:-610px;
	margin-left:1132px;
}

#seven {
	margin-top:-490px;
	margin-left:1432px;
}

#eight {
	margin-top:-430px;
	margin-left:1072px;
}

#nine {
	margin-top:-850px;
	margin-left:1192px;
}

#ten {
	margin-top:-850px;
	margin-left:1432px;
}

#eleven {
	margin-top:-910px;
	margin-left:1252px;
}

#twelve {
	margin-top:-310px;
	margin-left:1252px;
}

#thirteen {
	margin-top:-370px;
	margin-left:1192px;
}

#fourteen {
	margin-top:-910px;
	margin-left:1132px;
}



#red {
	margin-left:280px;
	margin-top: -10040px;
	height: 15231px;
	width: 250px;
	position: absolute;
	background-color:rgb(233,87,23);
}

#orange_one{
	margin-left:280px;
	margin-top:-10060px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:rgb(220,117,28);
	padding: -30px;
}

#QQ {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#question_one {
	margin-top:-10030px;
	margin-left:600px;
	height: 600px;
	width:1000px;
	background-color:transparent;
}

.question_one {
	font-family:Papyrus, Calibri;
	font-size:100px;
	color:rgb(208,110,22);
}

#black_decorative_line {
	height: 3px;
	width:1330px;
	margin-top:-150px;
	margin-left:280px;
	background-color:gray;
	opacity:0;
}

#orange_two {
	margin-left:280px;
	margin-top:260px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:orange;
	padding: -30px;
}

#AA {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#answer_one {
	margin-top:540px;
	margin-left:630px;
	height: 600px;
	width:900px;
	background-color:transparent;
}

.answer_one {
	font-family: Calibri;
	font-size:25px;
	color:rgb(121,60,6);
	line-height:230%;
	letter-spacing: 3px;
}

#scott_one {
	margin-top:980px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}

.M {
	float:left;
	background-color:orange;
	font-size:60px;
	color:white;
	padding: 70px 30px;
	margin-right:25px;
	margin-top:17px;
}

#black_decorative_line_2 {
	height: 3px;
	width:1330px;
	margin-top:1020px;
	margin-left:280px;
	background-color:gray;
	opacity:0;
}

#orange_three{
	margin-left:280px;
	margin-top:-100px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:rgb(220,117,28);
	padding: -30px;
}

#QQQ {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#question_two {
	margin-top:-100px;
	margin-left:600px;
	height: 600px;
	width:1000px;
	background-color:transparent;
}

.question_two {
	font-family:Papyrus, Calibri;
	font-size:100px;
	color:rgb(208,110,22);
}

#black_decorative_line_3 {
	height: 3px;
	width:1330px;
	margin-top:-400px;
	margin-left:280px;
	background-color:gray;
	opacity:0;
}

#orange_four {
	margin-left:280px;
	margin-top:30px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:orange;
	padding: -30px;
}

#AAA {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#answer_two {
	margin-top:330px;
	margin-left:630px;
	height: 600px;
	width:900px;
	background-color:transparent;
}

.answer_two {
	font-family: Calibri;
	font-size:25px;
	color:rgb(121,60,6);
	line-height:230%;
	letter-spacing: 3px;
}

#scott_two {
	margin-top:400px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}

#scott_three {
	margin-top:750px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}

.navigation {
	font-family: Calibri;
	color:white;
	margin-top:33px;
	text-align:center;
	font-size:40px;

}

.navigation_big {
	font-family: Calibri;
	color:white;
	margin-top:10px;
	text-align:center;
	font-size:40px;
}

.navigation:hover {
	color:orange;
}

.navigation_big:hover {
	color:orange;
}
a {
	text-decoration: none;

}
a:link {
	text-decoration: none;
	color:white;
}
a:hover {
	color:orange;
}




#orange_five{
	margin-left:280px;
	margin-top:20px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:rgb(220,117,28);
	padding: -30px;
}
#question_three {
	margin-top:130px;
	margin-left:600px;
	height: 600px;
	width:1000px;
	position:relative;
	background-color:transparent;
}
#orange_six {
	margin-left:280px;
	margin-top:520px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:orange;
	padding: -30px;
}
#answer_three {
	margin-top:820px;
	margin-left:630px;
	height: 600px;
	width:900px;
	background-color:transparent;
}

#QQQQ {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#AAAA {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#scott_four {
	margin-top:1240px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}


#orange_seven{
	margin-left:280px;
	margin-top:20px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:rgb(220,117,28);
	padding: -30px;
}
#question_four {
	margin-top:130px;
	margin-left:600px;
	height: 600px;
	width:1000px;
	position:relative;
	background-color:transparent;
}
#orange_eight {
	margin-left:280px;
	margin-top:200px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:orange;
	padding: -30px;
}
#answer_four {
	margin-top:500px;
	margin-left:630px;
	height: 600px;
	width:900px;
	background-color:transparent;
}

#QQQQQ {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#AAAAA {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#scott_five {
	margin-top:920px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}


#orange_nine{
	margin-left:280px;
	margin-top:235px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:rgb(220,117,28);
	padding: -30px;
}
#question_five {
	margin-top:350px;
	margin-left:600px;
	height: 600px;
	width:1000px;
	position:relative;
	background-color:transparent;
}
#orange_ten {
	margin-left:280px;
	margin-top:2140px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:orange;
	padding: -30px;
}
#answer_five {
	margin-top:2450px;
	margin-left:630px;
	height: 600px;
	width:900px;
	background-color:transparent;
}

#QQQQQQ {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#AAAAAA {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#scott_six {
	margin-top:2860px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}


#orange_eleven{
	margin-left:280px;
	margin-top:920px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:rgb(220,117,28);
	padding: -30px;
}
#question_six {
	margin-top:1050px;
	margin-left:600px;
	height: 600px;
	width:1000px;
	position:relative;
	background-color:transparent;
}
#orange_twelve {
	margin-left:280px;
	margin-top:990px;
	height:250px;
	width:250px;
	position:absolute;
	background-color:orange;
	padding: -30px;
}
#answer_six {
	margin-top:1280px;
	margin-left:630px;
	height: 600px;
	width:900px;
	background-color:transparent;
}

#QQQQQQQ {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#AAAAAAA {
	font-family: Kunstler Script, Calibri;
	font-size:200px;
	color:white;
	margin-top:30px;
}

#scott_seven {
	margin-top:1710px;
	position:absolute;
	margin-left:250px;
	width: 400px;
}


/*For styling and design tweaks*/

#left_one {
	position:absolute;
	margin-top:-9110px;
	margin-left:-70px;
	opacity:0.1;
}

#left_two {
	position:absolute;
	margin-top:-56px;
	margin-left:-70px;
	opacity:0.1;
}

#foot_decoration {
	background-color:gray;
	height:2px;
	width:1330px;
	margin-left: 280px;
	margin-top:-200px;
	opacity:0;
}

#square_ornament {
	margin-left:-69px;
	position:absolute;
	margin-top:648px;
}

#header {
	background-color: orange;
	height:75px;
	width:2300px;
	margin-left:-120px;
	margin-top:-46px;
}

#footer {
	background-color:transparent;
	margin-top:450px;
	margin-left:250px;
	width: 1300px;
}

#paragraph_footer {
	font-family:Calibri, Ariel;
	color: gray;
	font-size:30px;
	text-align:center;
}

#foot_image {
	margin-top:550px;
	position:absolute;
	margin-left:260px;
}

#headerwords {
	color:white;
	font-family:Calibri;
	padding-bottom:0;
	padding-top:10px;
	padding-left:360px;
	font-size:50px;
}