html {

} 
body {
        background-image: url(../images/evidencelockerimg/29.jpeg);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

#quoteevidencelocker {
    position: absolute; 
    font-size: 15pt; 
    color:white; 
    width: 10%;
    right: 1em; 
    
    
}

#evidencelockermain {
   
    background: black;
    filter:alpha(opacity=60);
    opacity:.8;
    padding: 1em; 
      position: absolute; 
    margin-top: 10em;
    width: 40%;
    left: 250px;
    
    
}

#protagonistdisap {
     
    color: #fdff00; 
    text-decoration: none;
}
#protagonistdisap:hover { 
    color: transparent;
} 



h2 {
     position:absolute;
    font-size: 30pt; 
    top: 5em;
    left: 250px;
    color: #fdff00;
    
}

#herself {
    text-decoration: none; 
    color: #fdff00; 
 
}
#herself:hover {
    color: white; 
    

}






#thecity {
    text-decoration: none; 
    color:  #fdff00; 
}
#thecity:hover { 
    color: white; 
} 


#thepolice {
    color:  #fdff00; 
    text-decoration: none; 

}
#thepolice:hover { 
    color: white; 
    
} 

#thpolice:hover { 
    color: white; 
} 

.evidencelockermaintext {
    font-size: 25pt;
    line-height: 120%; 
    color:white; 
}
