html {} 
body {
     font-family: 'Montserrat', sans-serif;
    background-image: url(../images/spyseriesimg/210.jpg);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
}

#quotespyseries {
    position: absolute; 
    font-size: 30pt;
      color: #F0FFF0;  
    width: 350px;
    top: 13.5em;
    right: 13em;
     transform: rotate(-17deg);
	transform-origin: 0 100%;
}

h2 {
    position: absolute;
  color: #F0FFF0;      transform: rotate(-17deg);
	transform-origin: 0 100%;
    top: 7em;
    left:1em;
    
}
h2:hover { text-decoration: line-through; }

#mainarticle12 {
    
    background: #D11919;
    opacity: 0.89; 
    padding:1em; 
    position: absolute; 
    color: white; 
     width: 300px;
    top: 325px;
    right: 10%; 
    font-size: 15pt;
    line-height: 130%; 
}

#mainarticle12:hover {
    text-decoration: line-through;
}


a { 
    color: #00FFFF;
   text-decoration: none;
} 
    

a:hover {
   color: white; 
    text-decoration: none;
}

#identites {
    text-decoration: none;
    
}
a:hover { 
    text-decoration: none;
