.container {
            width: 700px;
            height: 700px;
            background: white;
            overflow: hidden;
            }
        .box1 { 
            height:80px; 
            width:700px;
            background:red;
            float: left;
            }
        .box2 { 
            height:20px; 
            width:700px;
            background:red;
            float: left;
            margin-top: 15px;
            }
        .box3 { 
            height:460px; 
            width:223px;
            background:red;
            float: left;
            margin-top: 15px;
            margin-right: 16px;
            }
        .box4 { 
            height:460px; 
            width:223px;
            background:red;
            float: left;
            margin-top: 15px;
            margin-right: 15px;
            }
         .box5 { 
            height:460px; 
            width:223px;
            background:red;
            float: left;
            margin-top: 15px;
            }
        .box6 { 
            height:80px; 
            width:700px;
            background:red;
            float: left;
            margin-top: 15px;
            }