.container {
            width: 1600px;
            height: 1000px;
            background: red;
            overflow: hidden;
            }
        .box1 { 
            height: 950px; 
            width: 500px;
            background: red;
            border: 1px solid white;
            position: relative; 
            top:25px; 
            left:25px;
            bottom: 25px;
            overflow: hidden;
            float: left;
            display: block;
            }
         .box2 { 
            height: 950px; 
            width: 500px;
            background: red;
            border: 1px solid white;
            position: relative;
            float: left;
            display: inline-block;
            top:25px; 
            left: 50px;
            overflow: hidden;
            }
        .box3 { 
            height: 950px; 
            width: 500px;
            background: red;
            border: 1px solid white;
            position: relative;
            top: 25px; 
            left: 75px;
            overflow: hidden;
            float: left;
            display: inline-block;
            }

        .stripe { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:125px;
            overflow: hidden;
            }

        .stripe2 { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:250px;
            overflow: hidden;
            }

        .stripe3 { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:375px;
            overflow: hidden;
            }

        .stripe4 { 
            height:1px; 
            width:700px;
            background:white;
            position:absolute; 
            top:405px; 
            left:0px;
            overflow: hidden;
            }

        .stripe5 { 
            height:1px; 
            width:800px;
            background:white;
            position:absolute; 
            top:675px; 
            left:0px;
            overflow: hidden;
            }

        .stripe6 { 
            height:1px; 
            width:375px;
            background:white;
            position:absolute; 
            top:135px; 
            left:0px;
            overflow: hidden;
        }
         .stripe6b { 
            height:1px; 
            width:700px;
            background:white;
            position:absolute; 
            top:135px; 
            left:0px;
            overflow: hidden;
        }
        .stripe6c { 
            height:1px; 
            width:700px;
            background:white;
            position:absolute; 
            top:270px; 
            left:0px;
            overflow: hidden;
        } 
         .stripe6d { 
            height:1px; 
            width:700px;
            background:white;
            position:absolute; 
            top:540px; 
            left:0px;
            overflow: hidden;
        } 
         .stripe6e { 
            height:1px; 
            width:700px;
            background:white;
            position:absolute; 
            top:810px; 
            left:0px;
            overflow: hidden;
        } 
         .stripe7 { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:62.5px;
            overflow: hidden;
            }
         .stripe7b { 
            height:135px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:62.5px;
            overflow: hidden;
            }
         .stripe8 { 
            height:135px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:187.5px;
            overflow: hidden;
            }

        .stripe8b { 
            height:270px; 
            width:1px;
            background:white;
            position:absolute; 
            top:405px; 
            left:187.5px;
            overflow: hidden;
            }

         .stripe9 { 
            height:135px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:312.5px;
            overflow: hidden;
            }

         .stripe9b { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:312.5px;
            overflow: hidden;
            }

         .stripe10 { 
            height:1px; 
            width:62.5px;
            background:white;
            position:absolute; 
            top:270px; 
            left:0px;
            overflow: hidden;
            }

         .stripe10b { 
            height:1px; 
            width:125px;
            background:white;
            position:absolute; 
            top:810px; 
            left:250px;
            overflow: hidden;
            }

        .stripe11 { 
            height:1px; 
            width:62.5px;
            background:white;
            position:absolute; 
            top:540px; 
            left:0px;
            overflow: hidden;
            }

         .stripe12 { 
            height:1px; 
            width:62.5px;
            background:white;
            position:absolute; 
            top:810px; 
            left:0px;
            overflow: hidden;
            }

         .stripe12b { 
            height:1px; 
            width:125px;
            background:white;
            position:absolute; 
            top:270px; 
            left:375px;
            overflow: hidden;
            }
            
        .stripe13 { 
            height:675px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:437.5px;
            overflow: hidden;
            }

        .stripe13b { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:62.5px;
            overflow: hidden;
            }
    
        .stripe13c { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:187.5px;
            overflow: hidden;
            }
        
        .stripe13d { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:312.5px;
            overflow: hidden;
            }
            
        .stripe13e { 
            height:950px; 
            width:1px;
            background:white;
            position:absolute; 
            top:0px; 
            left:437.5px;
            overflow: hidden;
            }
        