/*div {
  border: 2px solid black;
}*/

html {
  background-color:white;
}


#master {
  margin: auto;
  height:1400px;
  width: 960px;
  /*border: 1px solid black;*/
  background-color:white;
  position:relative;

}

#object {

  width:100px;
  margin-left:100px;
  margin-top:50px;
  
}

#o {
  width:750px;
  
  top:71px;
  display: inline-block;
  border:0px;
  margin-top:5px;
  
}


#blocktwo {
  width: 960px;
  height: 580px;
}


#one {
  width: 100%;
}

#imageone {

  width:270px;
  float:left;
  margin-top:75px;
  margin-left:100px;
}


#two {
  width: 100%;
}


#imagetwo {

  width:270px;
  float:left;
  margin-top:300px;
  margin-left:-270px;
}



#content {

  float:right;
  height:400px;
  width: 330px;
  font-family:Times;
  display: inline-block;
  font-size:1.0em;
  line-height:1.2em;
  margin-top:-10px;
  margin-right:150px;
  clear:right;
  
 
  }


.title {
  vertical-align:middle;
  
  text-align:center;
  display: block;
  width: 400px;
  height:35px;
  font-family:Arial, serif;
  font-size:3.5em;
  margin-left:-135px;
  
  padding-top: 15px;
  
  
}




.name {
  position:absolute;
  display: block;
  width: 560px;
  height:25px;
  font-family:Arial, serif;
  color:black;
  font-size:4em;
  text-align:center;
  padding-top: 5px;
  padding-bottom:60px;
  -webkit-transform: rotate(-90deg);
  background-color: #17F7FF;
  margin-top:-910px;
  margin-left: -240px;
  -webkit-animation: colorchange 5s infinite 0.6s;
  
  
}

  @-webkit-keyframes colorchange{
    0%    { background: #FFDD18;    }
    25%   { background: #17F7FF;    }
    50%   { background: #FF25B5;  }
    75%   { background: #FFDD18;  }
    100%  { background: #17F7FF;  }
    }


@media (max-width: 500px) {

.name {
  
  display: block;
  width: 920px;
  height:25px;
  font-family:Arial, serif;
  color:black;
  font-size:4em;
  text-align:right;
  padding-top: 5px;

  padding-bottom:60px;
  -webkit-transform: rotate(-90deg);
  background-color: #17F7FF;
  margin-top:-490px;
  margin-left: -423px;
  -webkit-animation: colorchange 5s infinite 0.6s;
  
  
}


#object {

  width:100px;
  margin-left:70px;
  margin-top:-13px;
  
}


#o {
  width:420px;
  
  top:71px;
  display: inline-block;
  border:0px;
  margin-top:5px;
  
}

#imageone {
display:none;
}

#imagetwo {
display:none;
}

.title {
  vertical-align:middle;
  
  text-align:center;
  display: block;
  width: 400px;
  height:35px;
  font-family:Arial, serif;
  font-size:3em;
  margin-left:-135px;
  
  padding-top: 15px;
  
  
}

#content {

  float:left;
  height:400px;
  width: 330px;
  font-family:Times;
  display: inline-block;
  font-size:1.0em;
  line-height:1.2em;
  margin-top:-30px;
  margin-left:90px;
  clear:right;
  
 
  }












    }
