html, body {
   font-size: 100%;
   line-height: 1.4;
   background-color: #1155cc;
   color: white;
}

h1, h2 {
   font-family: 'Karla', helvetica, arial, sans-serif;
   font-weight: bold;
}

h1 {
   font-size: 1.4em;
}

h2 {
   font-size: 1em;
}

ul {
   font-family: 'Roboto', helvetica, arial, sans-serif;
   font-size: 0.85em;
}
