html {} 


body {
      font-family: 'Montserrat', sans-serif; /**
     background-image: url(../images/compositeimg/239.jpg);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
**/ 
}









.img1 {
    position: fixed;
    object-fit: cover;
    top: 1em; 
    object-position: left; 
    transform: rotate(30deg); 
	transform-orgin: bottom left; 
     z-index: -100;
}

#allimages {
    
    z-index: -1000; 
}



.img2 {
    position: absolute;
    object-fit: cover;
    top: -20em; 
    left:70em;
    z-index: -1000;
    object-position: top right; 
    transform: rotate(-30deg); 
	transform-orgin: bottom left; 
   
}

#quotecomposite {
    
    position: absolute;
    color: red; 
    font-size: 80pt; 
    width: 500px; 
    margin-top: 20px;
    left:1.75em;
    margin: 70px; 
    transform: rotate(-30deg); 
	transform-orgin: bottom left; 
    z-index: 1000;
}

h2 {
    
    position: absolute; 
    margin-top: 50px;
    font-size: 25pt; 
    text-align: right; 
    right: 4em; 
    transform: rotate(-30deg); 
	transform-orgin: bottom left; 
    color: red; 
}

#compositetextmain {
    position:absolute; 
    font-size: 13pt; 
    width: 270px; 
    color: red; 
    background:white;
    
    padding:1em; 
    margin-top: 550px; 
    text-align: left; 
     right: 1em;
    line-height: 130%;
    transform: rotate(-30deg); 
	transform-orgin: bottom left; 
}

#compositetitle {
     position: absolute; 
    margin-top: 50px;
    font-size: 25pt; 
    text-align: right; 
    right: 4em; 
    transform: rotate(-30deg); 
	transform-orgin: bottom left; 
    color: red; 
}







.articlelink {
        color: red; 
    text-decoration: none; 
    
}
a:hover { 
    color: blue; 
    text-decoration: line-through;
    
} 


.evidencelockerlink {
     color: red; 
    text-decoration: none; 
    
}
a:hover { 
    color: blue; 
   
    
} 

}
