html{} 

body {
            background-image: url(../images/failedstatesimg/167.jpg);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

#quotefailed {
    position: absolute; 
    font-size: 30pt; 
    color:white; 
    text-align: center; 
    width: 25%; 
    margin-top:35px;
    margin-left:39%; 
    
}

#maintextfailed {
    font-size:15pt; 
    color: white; 
    text-align: center; 
    margin-top: 6em; 
    width:80%; 
   margin-left: 10%; 
    background: black; 
    
    padding:1.5em; 
    opacity:0.7; 
}

a {
    color: lime;
    text-decoration: none;
}
a:hover {

color: red; 
    
} 
