html{} 
body {
     background-image: url(../images/headimg1/326.jpeg);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

#quotehead {
    position: absolute; 
    font-size: 90pt; 
    color: white; 
    width: 25%; 
    margin: 5%; 
    
}

#headtitle {
    position: absolute; 
    font-sze: 40pt; 
   
    width: 20%; 
    margin-left: 70%
    
}

#mainheadtext { 
    position: absolute; 
    color: black; 
    font-size: 14pt;
    line-height: 130%; 
    width: 15%; 
    margin-left: 80%; 
    margin-top: 20%;
      transform: rotate(-21deg);
	transform-origin: 0 100%;
}

.quotelink {
    text-decoration: none; 
    color: pink; 
    
}
.quotelink:hover { 
    color: white; 
} 

.textlinkhead {
    text-decoration: none; 
    color: purple; 
    
}

.textlinkhead:hover {
    color: white; 
} 
