.tiborkalman1{
	width:100px;
	height:auto;
}

.circle{
	width:800px;
	height:800px;
	border-radius:50%;
	/*background-color:#CF2900;*/
	/*border:2px solid black;*/
	position:absolute;
	top:510px;
	left:290px;
	z-index:1;
}

.fake{
	position:absolute;
	top:510px;
	left:290px;
}

/*.footer{
	height:200px;
	clear:both;
}*/

#title-name{
	font-size:35px;
	font-family:sans-serif;
	position:absolute;
	top:300px;
	left:590px;
}

#title-date{
	font-size:28px;
	font-family:sans-serif;
	position:absolute;
	top:348px;
	left:618px;
}

#link-1{
	width:400px;
	height:400px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#CF2900;
	border-radius:100% 0 0 0;
	z-index:10;
}

#link-2{
	width:400px;
	height:400px;
	position:absolute;
	top:400px;
	left:0px;
	background-color:#3B7B51;
	border-radius:0 0 0 100%;
	z-index:10;
}

#link-3{
	width:400px;
	height:400px;
	position:absolute;
	top:0px;
	left:400px;
	background-color:#D17519;
	border-radius:0 100% 0 0;
	z-index:10;
}

#link-4{
	width:400px;
	height:400px;
	position:absolute;
	top:400px;
	left:400px;
	background-color:#4A0093;
	border-radius:0 0 100% 0;
	z-index:10;
}