a:link{
	color:black;
}

a:visited{
	text-decoration:none;
	color:white;
}

a:hover{
	text-decoration:none;
	color:black;
}

body{
	width:3100px;
	height:3100px;
	margin:0;
}

.circle{
	width:3000px;
	height:3000px;
	background-color:#4A0093;
	border-radius:0 0 100% 0;
	position:absolute;
	top:0;
	bottom:100px;
	z-index:7;
}

.text{
	width:450px;
	color:white;
	font-family:Avenir;
	font-size:32px;
	line-height:1.5em;
	position:absolute;
	top:1360px;
	left:1045px;
	z-index:10;
}

#title{
	font-size:40px;
	font-family:Avenir;
	color:white;
	top:1090px;
	left:1040px;
	position:absolute;
	z-index:10;
}

#title-part{
	width:800px;
	position:absolute;
	font-size:65px;
	font-family:Avenir;
	top:145px;
	left:14px;
}

#tiborkalman{
	position:absolute;
	color:white;
	font-size:100px;
	font-family:sans-serif;
	top:70px;
	left:145px;
	z-index:30;
}

#image1{
	position:absolute;
	top:50px;
	left:2000px;
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
	z-index:5;
}

#image2{
	position:absolute;
	top:550px;
	left:2000px;
	-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
	z-index:15;
}