#whole {
      width: 800px;
}

#a {
  width: 620px;
  height: 100px;
  background-color: black;
}

#b {
  width: 620px;
  height: 20px;
  margin-top: 10px;
  background-color: black;
}

#c {
  width: 200px;
  height: 400px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  margin-bottom: 10px;
  background-color: black;
}

#d {
  width: 620px;
  height: 100px;
  background-color: black;
  clear: both;
}

