#box {
	width: 600px;
	height: 1000px;
	background-color:red;
	overflow: hidden;
	margin-left:100px;
	
}

div div {
    width: 75px;
    height: 150px;
    outline: 1px solid;
    float: left;
    background-color:red;
}

