
div {
    width: 625px;
    height: 310px;
}
div1 {
background-color: red;
    width: 100px;
    height: 305px;
    float: left;
    border: 2px solid white;
}

div2 {
    background-color: red;
 width: 404px;
    height: 101px;
    float: left;
    border: 2px solid white;
}

div3 {
    background-color: red;
    width: 200px;
    height: 201px;
  float: left;
    border: 2px solid white;
    z-index: -1;
}

div4 {background-color: red;
    width: 100px;
    height: 305px;
position: absolute;
    border: 2px solid white;
    top: 10;    
}
