body{
	margin: 0;
}

.wrapper{
	width:960px;
	height:auto;
	margin:auto;
	
	
}

.main{
	width: 480px;
	height:auto;
	float: right;
	margin-top:100px;
	
}

.headerbox{
	width:100%;
	height: 70px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}

.logo{
	float:left;
	padding-left: 80px;
	padding-top: 10px;
}

.menu{
	font-family:'Roboto', sans-serif;
	color:black;
	float: right;
	padding-right: 150px;
	padding-top: 10px;

}

.title{
	width: 650px;
	height:100px;
	position: fixed;
	float:left;
	font-size: 30px;
	padding-bottom: 20px;
	
}

.titletxt{
	font-family: 'Roboto', sans-serif;

}

span{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color:#f95017;
}

.sidebar{
	width:50%;
	height: auto;
	float:left;
	
	
	margin-top: 90px;
}

a{
	text-decoration: none;
	
}



li{
	float: top;
	padding-top: 30px;
	list-style: none;

}

.content{
	
}

.img{
	float: top;
	padding-bottom: 100px;
	
	
}

.biotxt{
	padding-top: 120px;
	padding-bottom: 120px;
	position:fixed;
	width: 480px;
	height: auto;
	margin-bottom: 200px;

}

#next{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 300px;
	float: right;
	padding-right: 45px;
	color: #f95017;

}

p{
	font-family:'Roboto', sans-serif;
}

.footer{
	width:100%;
	height: 70px;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	clear:both;
	float:bottom;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.footnote{
	display: inline-block;
	margin: auto;
	text-align: center;
	padding-left: 350px;
	padding-top: 25px;
	color:rgba(0,0,0,0.2);



}