#a {
	transform-origin: 50% 40%;
	transform: rotate(-40deg) translateY(-60px);
}

h1 {
	transform-origin: 50% 40%;
	transform: rotate(-40deg) translate(90px, -20px);
}

div {
	height: auto;
	width: auto;
	background-color: pink;
	padding: 20px;
	border-radius: 5%;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: pink;
}