@media screen and (max-width : 1400px) {
	html {
		zoom:0.68;
	}
}
html {
	margin: 0;
	padding:0;
}

body {
	background-color: rgb(184,236,84);
	margin: 0;
	padding: 0;
}

#headers {
	background-color: white;
	height:90px;
	width:6000px;
	position: absolute;
	z-index: 100
}

header img:nth-of-type(1){
	z-index: 101
}

header a img{
	z-index: 101;
	position: absolute;
	right:0;
	
}

header div p {
	font-family: "Calibri", "Ariel";
	font-size:10px;
	margin-top:-10px;
	color:rgb(4,164,223);
}

#footer {
	background-color:white;
	height:70px;
	width:6000px;
	position:fixed;
	bottom:0px;
	z-index: 101
}

header img {
	position: absolute;

}

#square {
	background-color: white;
	height:90px;
	width:90px;
	position: absolute;
	margin-top:390px;
	margin-left:500px;
}

#salutation {
	background-color:transparent;
	height:90px;
	width:1000px;
	position: absolute;
	margin-top:380px;
	margin-left:650px;
}

#welcome {
	color:white;
	font-family: "Calibri", "Ariel";
	font-size:92px;
	margin:0px 0;
}

#frame {
	background-color: transparent;
	position: absolute;
	margin-left:0;
	margin-right:0;
	left:0;
	right:0;
	margin-top:530px;
}

#here {
	font-family:"Calibri", "Ariel";
	color:white;
	font-size:26px;
	text-align:center;
}

#shit {
	position: absolute;
	margin:auto;
	width:1000px;
	top:550px;
	bottom:0;
	left:0;
	right:0;
}

hgroup2 img:nth-of-type(2) {
	opacity:0.15;
	position: absolute;
	bottom:70px;
	z-index: 0;
}
hgroup img {
	position: absolute;
	top: 0; bottom:0; left: 0; right:0;
	margin: auto;
	margin-top:270px;
}
/*##################################################*/
#h {
	margin-top:30px;
	position: absolute;
	left:0;right: 0;
	top:350px;
	z-index: -4
}

#hh {
	font-family: "Calibri", "Ariel";
	font-size:130px;
	color:white;
	text-align: center;
}

#p {
	position: absolute;
	top:330px;
	margin-left: 500px;
	width:600px;
	z-index: -4;
	opacity:0;
}

#pp {
	font-family: "Calibri Light", "Calibri", "Ariel";
	color:white;
	font-size:27px;
}


#meet {
	position: absolute;
	top:7940px;
	left:200px;
	z-index: -4
}

#meetp {
	font-family: "Calibri", "Ariel";
	font-size:130px;
	color:white;
}

#shit {
	background-color:transparent;
	width:500px;
	height: 500px;
	top:8040px;
	margin-right:150px;
}

#fuckup {
	font-family: "Calibri Light", "Calibri", "Ariel";
	font-size: 27px;
	color:white;
	text-align: right
	
}
/*##################################################*/
#right_holder {
	background-color:transparent;
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:120px;
	right:0;
	bottom:80px;
	z-index: 200
}

#left_holder {
	background-color:transparent;
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:0;
	right:120px;
	bottom:80px;
	z-index: 200
}

#rightright_holder {
	background-color:transparent;/*red*/
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:320px;
	right:0;
	bottom:10px;
	z-index: 200
}

#leftleft_holder {
	background-color:transparent;/*red*/
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:0;
	right:80px;
	bottom:10px;
	z-index: 200
}

#rightrightright_holder {
	background-color:white;/*blue*/
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:1720px;
	right:0;
	bottom:10px;
	z-index: 400
}

#leftleftleft_holder {
	background-color:white;/*blue*/
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:0;
	right:80px;
	bottom:10px;
	z-index: 400
}

#rightgreen_holder {
	background-color:transparent;/*green*/
	position: absolute;
	width:100px;
	height: 50px;
	margin:0 auto;
	left:-100px;
	right:0px;
	bottom:10px;
	z-index: 300
}

#left_protector {
	background-color:transparent;
	position: absolute;
	width:1000px;
	height: 50px;
	margin:0 auto;
	left:-1150px;
	right:0px;
	bottom:10px;
	z-index: 1000
}

#right_protector {
	background-color:transparent;
	position: absolute;
	width:1000px;
	height: 50px;
	margin:0 auto;
	left:1050px;
	right:0px;
	bottom:10px;
	z-index: 1000
}

#arrow_right {
	color:rgb(140,177,211);
	font-size: 60px;
	font-family: "Times New Roman", "Calibri", "Ariel";
	text-align: left;
}

#arrow_left {
	color:rgb(140,177,211);
	font-size: 60px;
	font-family: "Times New Roman", "Calibri", "Ariel";
	text-align: right;
}
/*Head is here!!!*/
hgroup2 img:nth-of-type(1) {
	position: absolute;
	top:0;
	z-index: 2;
}

#secondhead {
	position: absolute;
	top:7680px;
	z-index: 2;
}

/*Change the background length here!!!*/
/*Change the background length here!!!*/
/*Change the background length here!!!*/
/*Change the background length here!!!*/
/*Change the background length here!!!*/
/*Change the background length here!!!*/
/*Change the background length here!!!*/
#bg {
	background-color:rgb(218,68,25);
	position: absolute;
	width: 6096px;
	height: 1200px;
	left:-6096px;
	z-index: 0
}

#image {
	position: absolute;
	height:920px;
	top:2100px;
	left:300px;
	z-index: 1;
}

#imagetwo {
	position: absolute;
	height:810px;
	top:3980px;
	left:400px;
	z-index: 2;
}

#video {
	position: absolute;
	background-color:transparent;
	height:810px;
	z-index: 2;
	top:5850px;
	left:150px;
}

#stopper_right {
	position: absolute;
	height:70px;
	width:200px;
	background-color: white;
	bottom:0px;
	z-index: 200;
	left:-6930px;
	margin-right: auto;
	margin-left: auto;
}

#stopper_left {
	position: absolute;
	height:70px;
	width:200px;
	background-color: white;
	bottom:0px;
	z-index: 200;
	left:950px;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
	color:white;
}

a:visited {
	color:white;
}

#next {
	font-family: "Calibri", "Ariel";
	font-size: 35px;
	color:white;
	text-align: right;
}