.red {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;

}
#box2 {
	margin-top: 100px;
	float: left;
}

#box3 {
	margin-top: 100px;
}

#box4 {
	margin-top: 100px;
}

#box5 {
	margin-bottom: -100px;
	margin-left: 100px;
}

#box6 {
	margin-bottom: -200px;
	margin-left: 100px;
}