.red1 { 
	width: 800px;
	height: auto;
}

#box1 {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
}

#box2 {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
	margin-left: 150px;

}

#box3 {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
	margin-left: 100px;
}

#box4 {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
	margin-left: 100px;
}

