/*div {
  border: 2px solid black;
}*/

html {
  background-color: gray;
}


#master {
  margin: auto;
  height:1240px;
  width: 960px;
  border: 1px solid black;
  background-color:white;
  position:relative;

}





#one {
  width: 100%;
}




#imageone {

  width:960px;
  float:left;
  margin-left: 0px;
  margin-top: 0px;
 
  /*background-color:white;*/

}

#two {
  width: 100%;
}




#imagetwo {
  position:absolute;
  z-index:10;
  width:65px;
  float:left;
  left: -100px;
  top: 130px;
 
  /*background-color:white;*/

}

#three {
  width: 100%;
}




#imagethree {
  position:absolute;
  z-index:10;
  width:200px;
  float:right;
  top:400px;
  left: 875px;
  right:50px;
 
  /*background-color:white;*/

}




#blocktwo {
  width: 960px;
  height: 10px;
}



#jurg {

  float:left;
  height:20px;
  width: 265px;
  font-family:Helvetica;
  color:white;
  display: inline-block;
  font-size:1.1em;
  line-height:1.3em;
  margin-top:-210px;
  margin-left:550px;
  clear:right;
  /*background-color:white;*/
 
  }

#works {

  float:left;
  height:30px;
  width: 265px;
  font-family:Helvetica;
  color:red;
  display: inline-block;
  font-size:1.1em;
  line-height:1.3em;
  margin-top:-145px;
  margin-left:590px;
  clear:right;
  z-index:10;
  /*background-color:white;*/
 
  }

.name {
  vertical-align:middle;
  
  text-align:center;
  display: block;
  width: 500px;
  height:70px;
  font-family:Century, serif;
  font-size:2.5em;
  line-height:1.2em;
  
  padding-top: 5px;
  padding-bottom: 15px;
  
  
}


.two {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:6.69em;
    left:32.6em;

}

.two:hover{
 border: .45em solid #0DFF49;
 background-color: #0DFF49;
}


.three {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:5.6em;
    left:48.5em;

}

.three:hover {
 border: .45em solid #FFBE00;
 background-color: #FFBE00;
 
}


.one {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:10.3em;
    left:23em;

}

.one:hover {
 border: .45em solid #FF1563;
 background-color: #FF1563;
 
}

.four {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:17.9em;
    left:34.4em;

}

.four:hover{
 border: .45em solid #B9E80C;
 background-color: #B9E80C;
 
}

.five {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:12.58em;
    left:38.6em;

}

.five:hover{
 border: .45em solid #0600FF;
 background-color: #0600FF;
 
}

.six {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:29.8em;
    left:19.9em;

}

.six:hover {
 border: .45em solid #00FFFF;
 background-color: #00FFFF;
 
}

.seven {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:27.35em;
    left:36.15em;

}

.seven:hover {
 border: .45em solid #A515FF;
 background-color: #A515FF;
 
}

.eight {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:23.18em;
    left:47.3em;

}

.eight:hover {
 border: .45em solid #FFBE00;
 background-color: #FFBE00;
 
}

.nine {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:38.2em;
    left:28.75em;

}

.nine:hover {
 border: .45em solid #FF3700;
 background-color: #FF3700;
 
}

.ten {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:35.8em;
    left:40.9em;

}

.ten:hover {
 border: .45em solid #0DFF49;
 background-color: #0DFF49;
 
}

.eleven {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:44em;
    left:9.70em;

}

.eleven:hover {
 border: .45em solid #A515FF;
 background-color: #A515FF;
 
}

.twelve {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:52em;
    left:23.1em;

}

.twelve:hover {
 border: .45em solid #0DFF49;
 background-color: #0DFF49;
 
}

.thirteen {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:70.9em;
    left:15.5em;

}

.thirteen:hover {
 border: .45em solid #FFBE00;
 background-color: #FFBE00;
 
}

.fourteen {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:57.7em;
    left:28.8em;

}

.fourteen:hover {
 border: .45em solid #0600FF;
 background-color: #0600FF;
 
}

.fifteen {
    width: 26px;
    height:26px;
    border-radius: 50%;
    position:absolute;
    z-index:10;
    top:52.2em;
    left:41.9em;

}

.fifteen:hover {
 border: .45em solid #FF1563;
 background-color: #FF1563;
 
}


.square {
    width: 195px;
    height:45px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:10;
    margin-top:1090px;
    margin-left:700px;

}

.squareb {
    width: 120px;
    height:43px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:10;
    margin-top:1153px;
    margin-left:775px;

}








span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

