html{} 



#boxtop {
    width: 75%; 
    float: top; 
      
height: 100px;
color: rgb(239, 65, 35);
background-color: red;
padding: 5px;
margin:10px; 
    
}

body {
      align-content: center; 
    margin-left:2%; 
    margin-right:10%; 
}

#container1 {
   
 
    
}

#main1 {
            width: 50%; 
    float: left; 
      
height: 300px;
color: rgb(239, 65, 35);
background-color: red;
padding: 5px;
margin:10px;
}

#sec1 {
              width: 15%; 
    
    float: left; 
      
height: 150px;
color: rgb(239, 65, 35);
background-color: red;
padding: 5px;
margin-left:80px;
    margin-top: 10px; 
}

#boxbottom1 {
       width: 75%; 
    float: left; 
      
height: 30px;
color: rgb(239, 65, 35);
background-color: red;
padding: 5px;
margin:10px; 
     margin-bottom: 100px; 
    
}
