body{
	background-color: rgba(0,0,0,0.28);
}
li{

	list-style: none;
	font-family: 'Roboto Condensed', sans-serif;
}

a{
	text-decoration:none;
	color:black;
}

.bar{
	display:block;
	
	height:61px;
}

.name{
	position:absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:600;
	font-size:18px;
	top:30px;
	left:200px;
	color:white;
	text-align: center;
}

.exercises{
	line-height:23px;
	position:absolute;
	top:105px;
	left:200px;
}

.projects{
	line-height:23px;
	position:absolute;
	top:105px;
	left:700px;
}

#exercisestitle{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:600;
	font-size:30px;
}

#projectstitle{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:600;
	font-size:30px;
}

#projectstitle:hover{
	font-size:33px;
}

@media (max-width: 900px) {
  .facet_sidebar {
    display: none;
  }

	.projects{
		line-height:23px;
		position:absolute;
		top:675px;
		left:200px;
	}
}