body{
	margin:0;
	background-color: #1155cc;
}

.main{
	margin:auto;
	width: 960px;
	height: auto;
}

.content{
	width: 400px;
	height: auto;
	text-align: center;
	

}

li{
	list-style: none;
	float: left;
	clear: both;


}

a{
	text-decoration: none;
	color:white;

}

h3{
	color:white;
	font-family:helvetica;
}