body{
	width:650px;
	background-color:#FFF8F1;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	margin-left:350px;
}

h2{
	margin-bottom:50px;
	margin-top:70px;
	font-size:30px;
	text-align:center;
}

.maintext p{
	text-indent:20px;
}

.preface{
	text-align:center;
	margin-bottom:20px;
}

.author{
	text-align:center;
	margin-bottom:50px;
	font-size:14px;
	font-weight:400;
}

.maintext{
	margin-bottom:80px;
}