* {
    margin-top: 0;
}

html {
    height: 100%;
}

body {
    background: url(../media/pattern.jpg);                
    font-family: 'Garamond', serif;
    color: black;
    min-height: 100%;
    background-attachment: fixed;
}


#sitecontainer {
    width: 1075px;
    height: auto;
    margin-left: 25%;
    border: 0;
    margin: auto;
    background: white;
}

#sidetable {
    width: 220px;
    background: rgba(250,250,250,1.0);
    color: black;
    padding: 50px 10px 0px 0px;
    vertical-align: top;
    text-align: right;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 5;
    font-family: 'Garamond';
}

#sitename {
    font-size: 50px;
    font-weight: 600;
    line-height: 0.8em;
    margin-bottom: 20px;
    margin-right: 5px;
}

#menu ul{
    list-style: none;
    list-style-type: none;
    font-size: 28px;
    margin-right: 5px;
    line-height: 1.2em;
}

#menu a {
    color: black;
    text-decoration:none;
    -webkit-transition: color .5s ease 0s;
}

#menu a:hover {
    color: #939393;
    text-decoration: none;
}

#maintable {
    width: 855px;
    background: #fff;
    height: 100%;
    float: left;
    position: absolute;
    z-index: 10;
    margin-left: 230px;
}

.artheader {
    width: 855px;        
    height: 500px;
    z-index: -5;
    border: 0;
    position: fixed;
    }

.artheaderpic {
    width: 100%;
    height: 100%;
}

.infobar {
    background: rgba(255,255,255,0.75);
    padding: 6px 0px 6px 50px;
    text-transform: lowercase;
    position: relative;
    height: 65px;
    margin-bottom: -100px;
}

.infotext {
    float: left;
    margin-bottom: 15px;
    vertical-align: middle;
}

.infobar p:first-child {
    font-size: 32px;
    line-height: 1em;
    margin-top: px;
    margin-bottom: -5px;
    font-weight: 600;
}

.infotext2 {
    margin-top: 8px;
    margin-bottom: -8px;
    font-size: 23px;
}

.thumbnails {
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}

.thumb {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    opacity: .8;
    -webkit-transition: opacity .3s ease;
    }

.thumb:hover {
    opacity: 1;
}

.textarea {
}

.text {
    clear: both;
    padding: 40px 120px 40px 120px;
    position: relative;
    z-index: 40;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin-top: -500px;
    background: white;
    height: 100%;
}

.infotext p::nth-child(2) {
    margin-bottom: 0;
}

.text a {
    text-decoration: none;
    font-weight: bold;
    color: #224184;
    -webkit-transition: all .5s ease;
}

.text a:hover {
    letter-spacing: .5px;
    border-bottom: 0px dotted #224184;
}
