body {
  -webkit-font-smoothing: antialiased;
  color: #232525;
  background-color: white;
  width: 100%;
  font-family: 'Source Sans Pro';
  font-weight: lighter;
  padding-bottom: 15px;
  margin: 0;
  margin-top: 5px;
  overflow-x: hidden;
}

#sitecontainer {
  width: 98%;
  margin: auto;
}

#pagearea {
  width: 100%;
  overflow-x: hidden;
}

#header {
  width: 100%;
  background: rgba(255,255,255,1);
  height: auto;
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: black;
  position: relative;
  z-index: 20;
  -webkit-transition: all 1s ease;}

#header a {
  text-decoration: none;
}

#header:hover {
  background: rgba(255,255,255,0.95);
  text-shadow: 2px 2px 1px #c5c1aa;
}

#header > a > span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

#header > p:first-child {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 0;
}

#header > p:nth-child(2) {
  font-family: 'Source Sans Pro';
  font-size: 35px;
  line-height: 1em;
  margin-bottom: 0px;
  margin-top: -5px;
}

.nav {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  background: rgba(255,255,255,0.95);
  height: auto;
  position: absolute;
/*  border-bottom-right-radius: 10% 15%;
  border-bottom-left-radius: 10% 15%; */
  z-index: 50;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

.nav ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: auto;
}

.nav ul li {
  display: inline-block;
  text-align: center;
  padding: 5px 40px;
}

.nav ul li a {
  font-weight: 300;   
  color: #3d3d3d;
}

.nav ul li a:hover {
  color: #204a9e;
}

.headerpic {
  height: 110vh;
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0px 5px 0px;
  color: black;
  position: relative;
  -webkit-transition: all 1s ease;
  float: left;
}


.textarea {
  float: left;
  margin: auto;
  margin-top: -55vh;
  position: relative;
  z-index: 30;
  font-size: 18px;
  width: 108%;
  padding: 50px 20px 50px 0px;
  background: white;
  border-top-right-radius: 90% 50%;
  border-top-left-radius: 30% 3%;
  margin-left: -20px;
}

.text {
  margin-left: 1.4%;
  padding: 0px 50px 0px 50px;
}

.name {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: -20px;

}

.sidebar {
  margin-top: 55px;
  float: left;
  width: 300px;
}

.time {
  line-height: 1.4em;
  font-weight: 400;
}

.propic {
  width: 80%;
  border-radius: 10%;
  margin-bottom: 0px;
}

.bodytext {        
  font-weight: 300;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.4em;
  float: left;
  width: 50%;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #204a9e;
  -webkit-transition: all .5s ease;
}

a:hover {
  color: #3d3d3d;
}

iframe {
  width: 560px;
  height: 315px; 
}

@media screen and (max-width: 750px) {
 .nav ul li{
  padding: 5px 4%;
  }

  .textarea {
  margin-top: -300px;
/*  border-top-right-radius: 50% 5%;
  border-top-left-radius: 50% 5%; */
  border-top-right-radius: 90% 25%;
  border-top-left-radius: 30% 3%;
  }  

  .name {
  font-size: 41px;
  margin-bottom: -20px;
  margin-top: -20px;
  }

  .propic {
    width: 100%;
  }

  .sidebar {
    width: 30%;
    margin-right: 30px;
  }

  .time {
    white-space: nowrap;
  }

  .bodytext {
    width: 60%;
  }

  iframe {
    width: 100%;
    height: 80%;
  }
}

@media screen and (max-width: 500px) {
  .nav ul li {
    display: block;
    padding: 0px;
    line-height: 1.5em;
  }

  .headerpic {
    height: 350px;
    border-radius: 15%;
  }

  .textarea {
    border-top-right-radius: 30% 5%;
    border-top-left-radius: 30% 5%;
    margin-top: 0px;
  }  

  .name {
    margin-top: -30px;
    text-align: center;
    font-size: 45px;
  }

  .sidebar {
    width: 100%;
  }

  .propic {
    float: left;
    width: 40%;
    margin-right: 30px;
  }

  .time {
    float: left;
    width:50%;
  }

  .bodytext {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-top: -10px;
  }

  iframe {
  width: 100%;
  height: 100%; 
}
}