body {
  -webkit-font-smoothing: antialiased;
  color: #232525;
  background-color: white;
  width: 100%;
  font-family: 'Source Sans Pro';
  font-weight: lighter;
  padding-bottom: 15px;
  margin: 0;
}

#sitecontainer {
  width: 98%;
  margin: auto;
}

#pagearea {
  width: 100%;
  overflow-x: hidden;
}

#header {
  width: 100%;
  background: rgba(255,255,255,1);
  height: auto;
  text-align: center;
  padding: 5px 0px 5px 0px;
  color: black;
  position: relative;
  z-index: 20;
  -webkit-transition: all 1s ease;}

#header a {
  text-decoration: none;
}

#header:hover {
  background: rgba(255,255,255,0.95);
  text-shadow: 2px 2px 1px #c5c1aa;
}

#header > a > span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

#header > p:first-child {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 0;
}

#header > p:nth-child(2) {
  font-family: 'Source Sans Pro';
  font-size: 35px;
  line-height: 1em;
  margin-bottom: 0px;
  margin-top: -5px;
}

.info {
  width: 30%;
  height: 100%;
  padding: 10px 34% 20px 34%;
  display: none;
  text-align: justify;
  background: rgba(255,255,255,0.95);
  height: auto;
  position: absolute;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 200%;
  z-index: 50;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}


.headerpic {
  height: 110vh;
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0px 5px 0px;
  color: black;
  position: relative;
  -webkit-transition: all 1s ease;
  float: left;
}


.textarea {
  float: left;
  margin: auto;
  margin-top: -300px;
  position: relative;
  z-index: 30;
  font-size: 18px;
  width: 108%;
  padding: 50px 20px 50px 0px;
  background: white;
  border-top-right-radius: 90% 50%;
  border-top-left-radius: 30% 3%;
  margin-left: -20px;
}

.text {
  margin-left: 1.4%;
  padding: 0px 50px 0px 50px;
}

.name {
    font-size: 4.3vw;
    line-height: 1em;
}

.sidebar {
  margin-top: 55px;
  float: left;
  width: 300px;
}

.time {
  line-height: 1.4em;
  font-weight: 400;
}

.propic {
  width: 80%;
  border-radius: 10%;
  margin-bottom: 10px;
}

.bodytext {        
  font-weight: 300;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.4em;
  float: left;
  width: 50%;
}

.profileurl > a {
  text-decoration: none;
  line-height: 2em;
  font-weight: 500;
  color: #3d3d3d;
  -webkit-transition: all .5s ease;
}

.profileurl > a:hover {
  margin-left: 10px;
}


@media screen and (max-width: 750px) {
 .info {
  width: 48%;
  padding: 10px 25% 40px 25%;
  font-size: 15px;       
  font-weight: 400;
  background: white;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  }

  .textarea {
  margin-top: -200px;
  border-top-right-radius: 50% 5%;
  border-top-left-radius: 50% 5%;
  }  

  .name {
  font-size: 30px;
  text-align: center;
  margin-bottom: -20px;
  margin-top: -20px;
  }

  .propic {
    width: 100%;
  }

  .sidebar {
    width: 30%;
    margin-right: 30px;
  }

  .time {
    white-space: nowrap;
  }

  .bodytext {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .headerpic {
    height: 350px;
    border-radius: 20% / 10%;
  }

  .textarea {
    border-top-right-radius: 30% 5%;
    border-top-left-radius: 30% 5%;
    margin-top: 0px;
  }  

  .name {
    margin-top: -30px;
    text-align: center;
  }

  .sidebar {
    width: 100%;
  }

  .propic {
    float: left;
    width: 40%;
    margin-right: 30px;
  }

  .time {
    float: left;
    width:50%;
  }

  .bodytext {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-top: -10px;
  }
}