/*div {
  border: 2px solid black;
}*/
html {
  background-color:white;
}


#master {
  margin: auto;
  height:1200px;
  width: 960px;
  /*border: 1px solid black;*/
  background-color:white;
  position:relative;
}

#imagea {

  width:100px;
  float:left;
  
}

#bjarke {
  position:absolute;
  z-index: 10;
  width:171px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:300px;
  margin-left: 170px;
  /*background-color:white;*/
}

#imageb {

  width:100px;
  float:left;
  
}

#bigu {
  position:absolute;
  z-index: 10;
  width:226px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:300px;
  margin-left: 340px;
  /*background-color:white;*/
}

#imagec {

  width:100px;
  float:left;
  
}

#collin {
  position:absolute;
  z-index: 10;
  width:175px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:475px;
  margin-left: 640px;
  /*background-color:white;*/
}

#imaged {

  width:100px;
  float:left;
  
}

#link{
  position:absolute;
  z-index: 10;
  width:167px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:475px;
  margin-left: 475px;
  /*background-color:white;*/
}

#imagee {

  width:100px;
  float:left;
  
}

#charlie{
  position:absolute;
  z-index: 10;
  width:187px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:650px;
  margin-left: 260px;
  /*background-color:white;*/
}

#imagef {

  width:100px;
  float:left;
  
}

#array{
  position:absolute;
  z-index: 10;
  width:176px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:650px;
  margin-left: 446px;
  /*background-color:white;*/
}



.zero {
	position:relative;

    width: 300px;
    height:100px;
    background-color:#FFDD18;
    display: inline-block;
    margin-top:200px;
    margin-left: 300px;
    -webkit-animation: colorchange 5s infinite 0.7s;
    
}

.one {
	position:absolute;
	float:left;
    width: 580px;
    height:175px;
    background-color:#17F7FF;
    display: inline-block;
    margin-top:300px;
    margin-left: -550px;
    -webkit-animation: colorchange 5s infinite 0.5s;
}

.one p {
  display:none;
  
}

.two {

	float:right;
	position:relative;
    width: 200px;
    height:175px;
    background-color:#FF25B5;
    display: inline-block;
    margin-top:300px;
    margin-right: 100px;
    -webkit-animation: colorchange 5s infinite 0.7s;
}

.three {
	position:absolute;
	float:left;
    width: 190px;
    height:175px;
    background-color:#FF25B5;
    display: inline-block;
    margin-top:475px;
    margin-left: -550px;
    -webkit-animation: colorchange 5s infinite 0.3s;
}



.threea {
  position:absolute;
  float:left;
    width: 20px;
    height:175px;
    background-color:#FF25B5;
    display: inline-block;
    margin-top:475px;
    margin-left: -340px;
    -webkit-animation: colorchange 3s infinite 0.6s;
}



.threeb {
  position:absolute;
  float:left;
    width: 60px;
    height:175px;
    background-color:#FF25B5;
    display: inline-block;
    margin-top:475px;
    margin-left: -280px;
    -webkit-animation: colorchange 5s infinite 0.8s;
}

.four {
	position:absolute;
	float:left;
    width: 75px;
    height:175px;
    background-color:#17F7FF;
    display: inline-block;
    margin-top:475px;
    margin-left: -200px;
    -webkit-animation: colorchange 5s infinite 0.7s;
}

.five {
	position:absolute;
	float:left;
    width: 150px;
    height:175px;
    background-color:#FFDD18;
    display: inline-block;
    margin-top:475px;
    margin-left: 200px;
    -webkit-animation: colorchange 5s infinite 0.5s;
}

.six {
	position:absolute;
	float:left;
    width: 50px;
    height:175px;
    background-color:#FFDD18;
    display: inline-block;
    margin-top:650px;
    margin-left: -450px;
    -webkit-animation: colorchange 5s infinite 0.5s;
}

.seven {
	position:absolute;
	float:left;
    width: 400px;
    height:175px;
    background-color:#FF25B5;
    display: inline-block;
    margin-top:650px;
    margin-left: -380px;
    -webkit-animation: colorchange 5s infinite 0.44s;
     
}

.eight {
	position:absolute;
	float:left;
    width: 150px;
    height:175px;
    background-color:#17F7FF;
    display: inline-block;
    margin-top:650px;
    margin-left: 100px;
    -webkit-animation: colorchange 5s infinite 0.4s;
}

.nine {
	position:absolute;
	float:left;
    width: 150px;
    height:90px;
    background-color:#17F7FF;
    display: inline-block;
    margin-top:825px;
    margin-left: -300px;
    -webkit-animation: colorchange 5s infinite 0.5s;
}

.ten {
	position:absolute;
	float:left;
    width: 120px;
    height:90px;
    background-color:#FFDD18;
    display: inline-block;
    margin-top:825px;
    margin-left: -100px;
    -webkit-animation: colorchange 5s infinite 0.4s;
}

.eleven {
	position:absolute;
	float:left;
    width: 120px;
    height:40px;
    background-color:#FFDD18;
    display: inline-block;
    margin-top:825px;
    margin-left: 700px;
    -webkit-animation: colorchange 5s infinite 0.6s;
}



.title {

  z-index:20px;
  display: block;
  width: 550px;
  height:35px;
  font-family:Arial, serif;
  color:white;
  font-size:4em;
  text-align:center;
  padding-top: 10px;
  padding-bottom:50px;
  -webkit-transform: rotate(-90deg);
  background-color: black;
  margin-top:-750px;
  
  border:solid black;

  position: absolute;
  left: 48%;
  margin-left: -650px;
  
}

.info {
  position:absolute;
  display: block;
  width: 320px;
  height:130px;
  font-family:Times, san-serif;
  color:white;
  font-size:1.1em;
  line-height:1.2em;
  text-align:left;
  padding-top: 15px;
  padding-bottom:50px;
  padding-left:15px;
  padding-right:15px;
 
  background-color: black;
  margin-top:-475px;
  margin-left: 805px;
  border:solid black;
  
  position: absolute;
  top:86%;
  left: 57%;
  margin-left: 50px;
}

.date {
  position:absolute;
  display: block;
  width: 260px;
  height:250px;
  font-family:Times, san-serif;
  color:white;
  font-size:1.0em;
  line-height:1.2em;
  text-align:left;
  padding-top: 15px;
  padding-bottom:50px;
  padding-left:15px;
  padding-right:15px;
 
  background-color: black;
  margin-top:80px;
  margin-left: 900px;
  border:solid black;

  position: absolute;
  top:75%;
  left: 60.5%;
  margin-left: 0px;
  
}

.designername {
  width:400px;
  font-family:Arial, san-serif;
  font-size:1.2em;
  margin-top:12px;
  margin-bottom:12px;
  

}

.square {
    width: 385px;
    height:170px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:15;
    margin-top:300px;
    margin-left:140px;

}

.squareb {
    width: 335px;
    height:170px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:15;
    margin-top:475px;
    margin-left:535px;

}

.squarec {
    width: 360px;
    height:170px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:15;
    margin-top:650px;
    margin-left:250px;

}

span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

ul
{
    list-style-type: none;
}

    @-webkit-keyframes colorchange{
    0%    { background: #FFDD18;    }
    25%   { background: #17F7FF;    }
    50%   { background: #FF25B5;  }
    75%   { background: #FFDD18;  }
    100%  { background: #17F7FF;  }
    }


   

@media (max-width: 500px) {

  .title {

  z-index:20px;
  display: block;
  width: 1180px;
  height:35px;
  font-family:Arial, serif;
  color:white;
  font-size:4em;
  text-align:right;
  padding-top: 10px;
  padding-bottom:50px;
  -webkit-transform: rotate(-90deg);
  background-color: black;
  margin-top:-670px;
  margin-left: -600px;
  border:solid black;

  position: absolute;
  left: 25%;
  margin-left: -650px;
  
}


#imageb {

  width:100px;
  float:left;
  
}

#bigu {
  position:absolute;
  z-index: 10;
  width:303px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:-8px;
  margin-left: 123px;
  /*background-color:white;*/
}



#bjarke {
  display:none;
}

#collin {
 display:none;
}

#imaged {

  width:100px;
  float:left;
  
}

#link{
  position:absolute;
  z-index: 10;
  width:300px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:225px;
  margin-left: 123px;
  /*background-color:white;*/
}

#charlie{
  display:none;
}

#imagef {

  width:100px;
  float:left;
  
}

#array{
  position:absolute;
  z-index: 10;
  width:300px;
  float: left;
  top:0px;
  display: inline-block;
  border:0px;
  margin-top:536px;
  margin-left: 123px;
  /*background-color:white;*/
}

.zero {
display:none;
    
}

.one {
 position:absolute;
  float:left;
    width: 50px;
    height:233px;
    background-color:#17F7FF;
    display: inline-block;
    margin-top:-8px;
    margin-left: 73px;
    -webkit-animation: colorchange 5s infinite 0.5s;
}

.one p {
  display:block;
  width: 220px;
  height:35px;
  margin-top:65px;
  margin-left: -85px;
  font-family:Arial, serif;
  color:black;
  font-size:2em;
  -webkit-transform: rotate(-90deg);
  
}

.two {

  display:none;
}

.three {
 position:absolute;
  float:left;
    width: 50px;
    height:311px;
    background-color:#FF25B5;
    display: inline-block;
    margin-top:225px;
    margin-left: 73px;
    -webkit-animation: colorchange 3s infinite 3s;
}



.four {
  display:none;
}

.five {
 display:none;
}

.six {
  position:absolute;
  float:left;
    width: 50px;
    height:299px;
    background-color:#FFDD18;
    display: inline-block;
    margin-top:536px;
    margin-left: 73px;
    -webkit-animation: colorchange 5s infinite 0.5s;
}

.seven {
  display:none;
     
}

.eight {
display:none;
}

.nine {
  display:none;
}

.ten {
display:none;
}

.eleven {
  display:none;
}

.date {
  position:absolute;
  display: block;
  width: 260px;
  height:232px;
  font-family:Times, san-serif;
  color:white;
  font-size:1.0em;
  line-height:1.2em;
  text-align:left;
  padding-top: 15px;
  padding-bottom:50px;
  padding-left:15px;
  padding-right:15px;
 
  background-color: black;
  margin-top:240px;
  margin-left: 900px;
  border:solid black;

  position: absolute;
  top:86%;
  left: 22%;
  margin-left: 0px;
  
}

.designername {
  width:400px;
  font-family:Arial, san-serif;
  font-size:1.2em;
  margin-top:12px;
  margin-bottom:12px;
  

}

.square {
    width: 400px;
    height:230px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:15;
    margin-top:-10px;
    margin-left:83px;

}

.squareb {
    width: 330px;
    height:300px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:15;
    margin-top:230px;
    margin-left:83px;

}

.squarec {
    width: 335px;
    height:290px;
    /*border:3px solid red;*/
    position:absolute;
    z-index:15;
    margin-top:540px;
    margin-left:83px;

}

.info {
  display:none;
}

span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}


}



