@media screen and (max-width : 1700px) {
	html {
		zoom:0.8;
	}
}

@media screen and (max-width : 1500px) {
	html {
		zoom:0.7;
	}
}

@media screen and (max-width : 1400px) {
	html {
		zoom:0.6;
	}
}
#header {
	background-color:white;
	height:100px;
	width:8000px;
	margin:0 auto;
}

body {
	background-color:rgb(109,142,170);
	margin:0;
	padding:0;
}

#footer {
	height:60px;
	width:8000px;
	background-color:rgb(224,224,224);
	position:absolute;
	bottom:-326px;
	margin-left:-345px;
}

a:visited {
	color:white;
}

#vertical_decoration {
	background-color:white;
	width:8px;
	height:190px;
	position:relative;
	margin-left:345px;
}

div h1 {
	color:white;
	font-family:"Calibri", "Ariel";
	font-size:7em;
}

#main_text {
	background-color:transparent;
	width:1000px;
	height:500px;
	position:absolute;
	margin-left:70px;
	margin-top:260px;
}

body div p {
	color:white;
	font-family: "Calibri", "Ariel";
	font-size:1.4em;
	line-height:130%;
	opacity:0.66;
}

footer div h2 {
	color:black;
	font-family: "Calibri", "Ariel";
	font-size:4.3em;
	text-align:center;
	margin-top:20px;
	font-weight:normal;
	opacity:0.8;
}

#buttom_container {
	width:300px;
	height:100px;
	position:fixed;
	background-color:rgb(224,224,224);
	right:0;
	left:0;
    margin-right: auto;
    margin-left: auto;
    bottom:130px;
}

a:link {
	color:white;
	text-decoration:none;
}

a:hover {
	color:orange;
	font-size:1.01em;
}

.bottom_buttom {
	color:black;
	font-family:"Calibri", "Ariel";
	font-size:1.8em;
	opacity:0.7;
	text-align:center;
	transform:scaleY(1.2)
}

#middle_text {
	position:fixed;
	right:0;
	left:0;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#left_text {
	position:fixed;
	right:0;
	left:-1220px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#right_text {
	position:fixed;
	right:0;
	left:1120px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#middleleft_text {
	position:fixed;
	right:0;
	left:-650px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#middleright_text {
	position:fixed;
	right:0;
	left:600px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#artist_tour {
	position:absolute;
	margin-left:100px;
	background-color:red;
}

header img {
	margin-top:-100px;
	position:absolute;
	margin-left:145px;
}

/*FROM HERE*/

header img:nth-of-type(2) {
	margin-top:-100px;
	position:absolute;
	right:0px;
}

#bugfix {
	background-color:transparent;
	position:absolute;
	margin-top:-100px;
	height:100px;
	width:200px;
	right:0px;
}

/*TO HERE*/

#decoration_one {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:330px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_two {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:900px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_three {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:-330px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_four {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:-950px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

hgroup img {
	margin-left:5px;
	position:relative;
	top:190px;
	opacity:1;
   -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.08);
	box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.08);
}

hgroup div img {
	margin-left:70px;
	margin-top:213px;
	opacity:1;
}

footer a:hover {
	background-color:orange;
}

.button {
   border: 0px solid #0a3c59;
   background: #547b9d;
   background: -webkit-gradient(linear, left top, left bottom, from(#547c9b), to(#547b9d));
   background: -webkit-linear-gradient(top, #547c9b, #547b9d);
   background: -moz-linear-gradient(top, #547c9b, #547b9d);
   background: -ms-linear-gradient(top, #547c9b, #547b9d);
   background: -o-linear-gradient(top, #547c9b, #547b9d);
   background-image: -ms-linear-gradient(top, #547c9b 0%, #547b9d 100%);
   padding: 18px 65px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 125px;
   font-family: "Calibri", serif;
   text-decoration: none;
   vertical-align: middle;
   position:absolute;
   margin-top:-0;
   margin-left:8px;
   transition-duration: 0.5s;
   -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.1);
	box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.1);
   }
.button:hover {
   border: 0px solid #0a3c59;
   text-shadow: #000000 0 1px 0;
   background: #547c9d;
   background: -webkit-gradient(linear, left top, left bottom, from(#547c9d), to(#547b9d));
   background: -webkit-linear-gradient(top, #547c9d, #547b9d);
   background: -moz-linear-gradient(top, #547c9d, #547b9d);
   background: -ms-linear-gradient(top, #547c9d, #547b9d);
   background: -o-linear-gradient(top, #547c9d, #547b9d);
   background-image: -ms-linear-gradient(top, #547c9d 0%, #547b9d 100%);
   color: #fff;
   font-size: 125px;
   font-family: "Calibri", serif;
   }
.button:active {
   text-shadow: #000000 0 1px 0;
   border: 0px solid #0a3c59;
   background: #547c9d;
   background: -webkit-gradient(linear, left top, left bottom, from(#4a7494), to(#547b9d));
   background: -webkit-linear-gradient(top, #4a7494, #547c9d);
   background: -moz-linear-gradient(top, #4a7494, #547c9d);
   background: -ms-linear-gradient(top, #4a7494, #547c9d);
   background: -o-linear-gradient(top, #4a7494, #547c9d);
   background-image: -ms-linear-gradient(top, #4a7494 0%, #547c9d 100%);
   color: #fff;
   }

#frame {
   	background-color:gray;
   	opacity:1;
   	height:950px;
   	width:1155px;
   	position:absolute;
   	top:228px;
   	margin-left:8px;
   	opacity:0.5;
   	-webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.1);
	box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.1);
   	z-index: -1
}

#stitch {
	background-color:transparent;
	border:1px dashed black;
	opacity:0.6;
	height:920px;
	width:1125px;
	position:absolute;
	top:240px;
	margin-left:21px;
	transform:scale(1.01);
}

#stitch_two {
	background-color:transparent;
	border:1px dashed white;
	opacity:0.4;
	height:920px;
	width:1125px;
	position:absolute;
	top:241px;
	margin-left:22px;
	transform:scale(1.01);
}

#horizontal_decoration {
	background-color:transparent;
	width:1154px;
	height:3px;
	position:absolute;
	top:188px;
	margin-left:9px;
	border-bottom:5px dashed white;
	opacity:0.7;
}

#link {
	position:absolute;
	margin-top:330px;
	margin-left:70px;
	width:1000px;
	height:500px;
	z-index:3;
}

#shit {
	font-size:"Calibri";
	color:white;
	font-size:20px;
}

.click_square {
	background-color:transparent;
	width:75px;
	height:60px;
	position:absolute;
	z-index:3;
}

#click_one {
	margin-left:470px;
	margin-top:380px;
}

#click_two {
	margin-left:690px;
	margin-top:380px;
}

#click_three {
	margin-left:920px;
	margin-top:380px;
}

#click_four {
	margin-left:1145px;
	margin-top:380px;
}

#click_five {
	margin-left:1370px;
	margin-top:380px;
}

.click_square:hover {
	background-color:white;
	opacity:0.3;
	transition-duration: 0.3s;
}