div {
  border: 2px solid black;
}

html {
  background-color:white;
}


#master {
  margin: auto;
  height:1200px;
  width: 960px;
  /*border: 1px solid black;*/
  background-color:white;
  position:relative;

}

#object {

  width:300px;
  float:left;
}

#o {
  width:500px;
  float: left;
  top:70px;
  display: inline-block;
  border:0px;
  margin-top:230px;
  /*background-color:white;*/
}