body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	background-image: url("http://image.pbs.org/video-assets/pbs/american-masters/4007/images/Mezzanine_054.jpg");
	background-size:105% auto;
	background-attachment:fixed;
}


.wrapper{
	width:960px;
	height:100%;
	margin:auto;
	
	
}

.catalog{
	width: 960px;
	height: auto;
	background-color: rgba(255,255,255,0.6);
	float: left;
	margin-top: 3%;
	
	padding-left: none;
	padding-right: 2%;
	border: 4px solid #f95017;
}
ul{
	padding-left: 1%;
	text-align: center;
}
.menu{
	
	float: right;
	padding-right: 150px;
	padding-top: 10px;
	


}

.menu a{
	font-family:'Roboto', sans-serif;
	color:black;
	
  	transition-property: color;
  	transition-duration: 300ms;
  	transition-timing-function: ease-in-out;
  	transition-delay: 100ms;


}
.menu a:hover{
	
  	cursor: pointer;
  	color:#f95017;
  	/*border:2px solid #f95017;*/

}


.headerbox{
	width:100%;
	height: 70px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}

.logo{
	float:left;
	padding-left: 80px;
	padding-top: 10px;
}

.menu{
	font-family:'Roboto', sans-serif;
	color:black;
	float: right;
	padding-right: 150px;
	padding-top: 10px;
	
}
ß
span{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color:#f95017
}





.img{
	float: left;
	height: 400px;
	width: 400px;
	overflow: auto;
	clear:both;
	overflow-y:hidden; 

	
}


p{
	font-family:'Roboto', sans-serif;
}

a{
	text-decoration: none;
	
}

.catalog ul li a{
	color: #f95017;
}
li{
	margin-left: 1%;
	margin-right: 1%;
	display: inline;
	list-style: none;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color:#f95017;
	font-size: 25px;
	transition-property: background-color,color;
  	transition-duration: 300ms;
  	transition-timing-function: ease-in-out;
  	transition-delay: 100ms;

}

li:hover{

	background-color:rgba(249,80,23,0.3);
	color: white;}

.bigtitle p{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color:#f95017;
	font-size: 50px;
	padding-top: 20%;
	padding-left: 5%;
	padding-bottom: 5%;
}

.footer{
	width:100%;
	height: 70px;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	clear:both;
	float:bottom;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.footnote{
	display: inline-block;
	margin: auto;
	text-align: center;
	padding-left: 350px;
	padding-top: 25px;
	color:rgba(0,0,0,0.2);



}