li {
color: white;
font-family: helvetica;
line-height: 3em;
vertical-align: middle;
background-color: brown;
padding-left: 20px;
transition-property: background-color;
transition-duration: 3s;
transition-timing-function: ease-in;
transition-delay: 0.2s; 
width: 20em;

position: relative;
margin: auto;
}

li:nth-child(1) {
  margin-top: 20%;
}

li a {
  color: black;
  text-decoration: none;
  transition-property: color;
transition-duration: .5s;
transition-timing-function: ease-in;
transition-delay: 0.2s; 
}



li:nth-child(1):hover {
  background-color: green;
}

li:nth-child(2):hover {
  background-color: yellow;
}

li:nth-child(3):hover {
  background-color: orange;
}
li:nth-child(4):hover {
  color: purple;
}

li:nth-child(1) a:hover {
  color: green;
}
li:nth-child(2) a:hover {
  color: yellow;
}
li:nth-child(3) a:hover {
  color: orange;
}
li:nth-child(4) a:hover {
  color: red;
}