

p {
	color: black;
	background-color: gray;
	opacity: 0,5;

	font-size: 1em;
	font-weight:normal;
	font style: normal;
	line-height: 40px;
	

	font-family: "helvetica";
}

section {
	border: 10px solid black;

}

p{
	border: 5px dotted red;
	margin: 10%;
}

