

p {
	color: rgb(200,200,200);
	background-color: #FF11FF;
	opacity: 0,5;

	font-size: 1em;
	font-weight:bold;
	font style: italic;
	line-height: 40px;
	text-transform: uppercase;

	font-family: "helvetica";
}