@media screen and (max-width : 1700px) {
	html {
		zoom:0.8;
	}
}

@media screen and (max-width : 1500px) {
	html {
		zoom:0.7;
	}
}

@media screen and (max-width : 1400px) {
	html {
		zoom:0.6;
	}
}
#header {
	background-color:white;
	height:100px;
	width:8000px;
	margin:0 auto;
}

body {
	background-color:rgb(166,170,109);
	margin:0;
	padding:0;
}

#footer {
	height:130px;
	width:8000px;
	background-color:rgb(224,224,224);
	bottom:0;
	position:fixed;
	margin-left:-345px;
}

#vertical_decoration {
	background-color:white;
	width:8px;
	height:190px;
	position:relative;
	margin-left:345px;
}

div h1 {
	color:white;
	font-family:"Calibri", "Ariel";
	font-size:7em;
}

.main_text {
	background-color:transparent;
	width:1800px;
	height:500px;
	position:absolute;
	margin-top:-20px;
}

#first_one {	
	margin-left:70px;
}

body div p {
	color:white;
	font-family: "Calibri", "Ariel";
	font-size:1.6em;
	line-height:130%;
	opacity:0.66;
}

footer div h2 {
	color:black;
	font-family: "Calibri", "Ariel";
	font-size:4.3em;
	text-align:center;
	margin-top:20px;
	font-weight:normal;
	opacity:0.8;
}

#buttom_container {
	width:300px;
	height:100px;
	position:fixed;
	background-color:rgb(224,224,224);
	right:0;
	left:0;
    margin-right: auto;
    margin-left: auto;
    bottom:80px;
}

footer a:link {
	color:black;
	text-decoration:none;
}

footer a:hover {
	color:orange;
	font-size:1.01em;
}

.bottom_buttom {
	color:black;
	font-family:"Calibri", "Ariel";
	font-size:1.8em;
	opacity:0.7;
	text-align:center;
	transform:scaleY(1.2)
}

#middle_text {
	position:fixed;
	right:0;
	left:0;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#left_text {
	position:fixed;
	right:0;
	left:-1220px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#right_text {
	position:fixed;
	right:0;
	left:1120px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#middleleft_text {
	position:fixed;
	right:0;
	left:-650px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#middleright_text {
	position:fixed;
	right:0;
	left:600px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#artist_tour {
	position:absolute;
	margin-left:100px;
	background-color:red;
}

header img {
	margin-top:-100px;
	position:absolute;
	margin-left:145px;
}

header img:nth-of-type(2) {
	margin-top:-80px;
	position:absolute;
	right:0px;
}

#decoration_one {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:330px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_two {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:900px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_three {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:-330px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_four {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:-950px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

hgroup img {
	margin-left:5px;
}


hgroup a:link {
	color:white;
	font-size:30px;
	text-decoration:line-through;
}

hgroup a:visited {
	color:orange;
	text-decoration:none;
}

#one_one {
	margin-top:-465px;
	margin-left:910px;
	transform:scaleY(5);
}

#one_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#one_three {
	margin-top:-110px;
	margin-left:885px;
	transform:scaleY(5);
}

#two_one {
	margin-top:-47px;
	margin-left:910px;
	transform:scaleY(5);
}

#two_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#three_one {
	margin-top:-47px;
	margin-left:910px;
	transform:scaleY(5);
}

#three_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#four_one {
	margin-top:-47px;
	margin-left:910px;
	transform:scaleY(5);
}

#four_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#five_one {
	margin-top:-47px;
	margin-left:910px;
	transform:scaleY(5);
}

#five_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#six_one {
	margin-top:-47px;
	margin-left:910px;
	transform:scaleY(5);
}

#six_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#seven_one {
	margin-top:-47px;
	margin-left:910px;
	transform:scaleY(5);
}

#seven_two {
	margin-top:-110px;
	margin-left:935px;
	transform:scaleY(5);
}

#visited {
	color:orange;
	font-size:35px;
	font-family: "Calibri";
	text-decoration:line-through;
	transform:scaleY(5);
	margin-top:-65px;
	margin-left:100px;
}

#unvisited {
	color:white;
	font-size:35px;
	font-family: "Calibri";
	text-decoration:line-through;
	transform:scaleY(5);
	margin-top:-65px;
	margin-left:100px;
}

#divvisited {
	background-color:transparent;
	height:40px;
	width:1000px;
	margin-top:0;
	position:absolute;
}

#divunvisited {
	background-color:transparent;
	height:40px;
	width:1000px;
	position:absolute;
	margin-top:30px;
}

#ooone {
	color:black;
	font-size:20px;
	opacity:0.6;
}

#tttwo {
	color:black;
	font-size:20px;
	opacity:0.6;
}

#adone_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-455px;
	margin-left:910px;
}

#adone_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-455px;
	margin-left:935px;
}

#adone_three {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-455px;
	margin-left:885px;
}

#adtwo_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-395px;
	margin-left:910px;
}

#adtwo_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-395px;
	margin-left:935px;
}

#adthree_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-330px;
	margin-left:910px;
}

#adthree_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-330px;
	margin-left:935px;
}

#adfour_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-270px;
	margin-left:910px;
}

#adfour_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-270px;
	margin-left:935px;
}

#adfive_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-205px;
	margin-left:910px;
}

#adfive_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-205px;
	margin-left:935px;
}

#adsix_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-140px;
	margin-left:910px;
}

#adsix_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-140px;
	margin-left:935px;
}

#adseven_one {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-80px;
	margin-left:910px;
}

#adseven_two {
	background-color:transparent;
	width:10px;
	height:20px;
	position:absolute;
	z-index:100;
	margin-top:-80px;
	margin-left:935px;
}

#block {
	background-color:transparent;
	z-index:99;
	width:2000px;
	height:800px;
	position:absolute;
	margin-top:-650px;
}

#fixbug {
	height:100px;
	width:180px;
	background-color:transparent;
	position:absolute;
	right:0;
	margin-top:-100px;
	z-index:101;
}