@media screen and (max-width : 1700px) {
	html {
		zoom:0.8;
	}
}

@media screen and (max-width : 1500px) {
	html {
		zoom:0.7;
	}
}

@media screen and (max-width : 1400px) {
	html {
		zoom:0.6;
	}
}
#header {
	background-color:white;
	height:100px;
	width:8000px;
	margin:0 auto;
}

body {
	background-color:rgb(109,142,170);
	margin:0;
	padding:0;
}

#footer {
	height:170px;
	width:8000px;
	background-color:rgb(224,224,224);
	bottom:0;
	position:fixed;
	margin-left:-345px;
}

#vertical_decoration {
	background-color:white;
	width:8px;
	height:190px;
	position:relative;
	margin-left:345px;
}

div h1 {
	color:white;
	font-family:"Calibri", "Ariel";
	font-size:7em;
}

#main_text {
	background-color:transparent;
	width:510px;
	height:500px;
	position:absolute;
	margin-left:70px;
	margin-top:20px;
}

body div p {
	color:white;
	font-family: "Calibri", "Ariel";
	font-size:1.4em;
	line-height:130%;
	opacity:0.66;
}

footer div h2 {
	color:black;
	font-family: "Calibri", "Ariel";
	font-size:4.3em;
	text-align:center;
	margin-top:20px;
	font-weight:normal;
	opacity:0.8;
}

#buttom_container {
	width:300px;
	height:100px;
	position:fixed;
	background-color:rgb(224,224,224);
	right:0;
	left:0;
    margin-right: auto;
    margin-left: auto;
    bottom:130px;
}

a:link {
	color:black;
	text-decoration:none;
}

a:hover {
	color:orange;
	font-size:1.01em;
}

.bottom_buttom {
	color:black;
	font-family:"Calibri", "Ariel";
	font-size:1.8em;
	opacity:0.7;
	text-align:center;
	transform:scaleY(1.2)
}

#middle_text {
	position:fixed;
	right:0;
	left:0;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#left_text {
	position:fixed;
	right:0;
	left:-1220px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#right_text {
	position:fixed;
	right:0;
	left:1120px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#middleleft_text {
	position:fixed;
	right:0;
	left:-650px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#middleright_text {
	position:fixed;
	right:0;
	left:600px;
    margin-right: auto;
    margin-left: auto;
    bottom:-30px;
    width:500px;
    height:200px;
}

#artist_tour {
	position:absolute;
	margin-left:100px;
	background-color:red;
}

header img {
	margin-top:-100px;
	position:absolute;
	margin-left:145px;
}

#decoration_one {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:330px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_two {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:900px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_three {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:-330px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

#decoration_four {
	border-left:2px dashed gray;
	background-color:transparent;
	height:30px;
	width:10px;
	position:fixed;
	right:0;
	left:-950px;
    margin-right: auto;
    margin-left: auto;
    bottom:105px;
}

hgroup img {
	margin-left:5px;
}

footer a:hover {
	background-color:orange;
}