div {
  width: 98%;
  margin: 0 auto;
  overflow: visible;
}

.jurg {
	position:relative;
	width:95%;
	margin:25px 10px 25px 15px;
}


#rotate {
  transform: rotate(20deg);
  transform-origin: top left;
}