a{
	text-decoration:none;
	color:black;
}

.bar{
	display:block;
	background-color: #FF7519;
	height:61px;
}

.name{
	position:absolute;
	font-family:Raleway;
	font-weight:600;
	font-size:18px;
	top:30px;
	left:200px;
	color:white;
}

.exercises{
	line-height:23px;
	position:absolute;
	top:105px;
	left:200px;
}

.projects{
	line-height:23px;
	position:absolute;
	top:105px;
	left:700px;
}

#exercisestitle{
	font-family:Raleway;
	font-weight:600;
	font-size:30px;
}

#exercisestitle:hover{
	font-size:33px;
}

#projectstitle{
	font-family:Raleway;
	font-weight:600;
	font-size:30px;
}

#projectstitle:hover{
	font-size:33px;
}

@media (max-width: 900px) {
  .facet_sidebar {
    display: none;
  }

	.projects{
		line-height:23px;
		position:absolute;
		top:675px;
		left:200px;
	}
}