html {
    
    font-family: 'Raleway', sans-serif;

}

a {
    font-size: 100pt;
    text-decoration: none; 
    
    color: black; 
}
a:hover { 
    color: magenta;  

} 
a

#titlelink {
    position: static; 
}



body {
    
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px; 
    line-height: 2O0%; 
    
}

p {
    position: absolute; 
    text-align: center; 
}

#surveillenceevidencelocker { 
    
    position: absolute; 
    align-content: center;
    top: 3.5em;
    border-top: 20px solid #000;
}

#intimacy {
    
    position:absolute; 
    text-align: center;
    border-bottom: 20px solid #000;
   top: 5em;
}

#jillname {
    position: absolute; 
    z-index: -100; 
    font-size: 80pt; 
    top: 200px; 
    color: blue; 
    background: #ADFF5C; 
    padding:1.125em; 
}
