html {
    
 

}
#quote1 {
    position:absolute; 
    margin-top:6em;
    left: 9.5em
    
    
    
}

#quote2 {
      font-family: 'Montserrat', sans-serif;
    position: absolute; 
    margin-top: 50%;  
    z-index: 20; 
    
    padding:1em; 
}

h2 {
    position:absolute; 
    margin-top: 35em; 
    color:red; 
    left:2em; 
}

.quote1a {
    font-size: 20pt; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    
    
}

#thekisstext {
    font-size: 13pt; 
    position: absolute; 
    margin-top: 45em; 
    width: 20em;
    color: red; 
    font-style: bold; 
    margin-bottom: 10em;
}

#far {
    position: absolute; 
    
    font-family: 'Montserrat', sans-serif;
    margin-top: .125em;
    left:20px
}



#away {
    position: absolute; 
    font size: 300pt; 
    border-right: 20pt solid #ff0000;
    margin-top: 1em; 
    left:20px
}

#away {
    font-size: 300pt; 
    font-family: 'Montserrat', sans-serif;
    
}

.far1 {
    color: white; 
     font-size: 300pt; 
    letter-spacing: : 40pt;
}



#directions1 {
    position: relative; 
    font-size: 12pt; 
    left: 56em; 
    top: 30em;
    text-align: right; 
    
    

   
    
    
}

.directions1a {
    text-align: right; 
    color: white; 
    width: 13em; 
}

.quote2a {
    font-size: 16pt;
    font-style: bold;
    color: red; 
}

#thekissetext {
    position: relative; 
    color: red; 
  
    padding:1em; 
    margin-top: 52em; 
    width: 30em; 
    left:2em; 
    font-size: 13pt;
}

.away1 {
    color:white; 
    letter-spacing: 10pt; 
    
}

body {
    
    background-image: url(../images/kissmask/kissmaskimg1.jpeg);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    
}

a {
    color: #00FF00; 
    text-decoration: none;
    
}
